.courses {
  text-align: center;
  padding-top: 50px;
  background: url("../img/bg-courses.png");
  &__title {
    @mixin section-title;
  }
  &__title ~ p {
    @mixin section-p;
  }
  &__wrapper {
    font-size: 0;
  }
  &__complete {
    display: none;
    color: var(--green);
    font-size: 42px;
    font-weight: 500;
    h2 {
      margin: 0;
    }
    span {
      position: relative;
      z-index: 2;
      &:before {
        content: "";
        position: absolute;
        left: -55px;
        top: 44px;
        width: 30px;
        height: 10px;
        background: var(--green);
        transform: rotate(50deg);
      }
      &:after {
        content: "";
        position: absolute;
        left: -43px;
        top: 41px;
        width: 40px;
        height: 10px;
        background: var(--green);
        transform: rotate(-50deg);
      }
    }
    &--visible {
      display: block;
    }
  }
  &__item {
    @mixin inline-block;
    position: relative;
    font-size: 14px;
    width: 300px;
    @mixin margin 20px;
    margin-bottom: 20px;
    text-align: left;
    background-color: #fff;
    background-image: url("../img/courses/courses-item1.jpg#courses");
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    &--jquery {
      background-image: url("../img/courses/courses-item2.jpg#courses");
    }
    &--basis {
      background-image: url("../img/courses/courses-item3.jpg#courses");
    }
    &--adaptive {
      background-image: url("../img/courses/courses-item4.jpg#courses");
    }
    &--gallery {
      background-image: url("../img/courses/courses-item5.jpg#courses");
    }
    &--flexbox {
      background-image: url("../img/courses/courses-item6.jpg#courses");
    }
    &--invisible {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #e8f0dc;
        opacity: 0.4;
        z-index: 2;
      }
    }
    &--margin-right {
      margin-right: 20px !important;
    }
  }
  &__text {
    position: relative;
    z-index: 2;
    background: #fff;
    margin-top: 170px;
    padding-top: 20px;
    p {
      color: #727272;
      font-size: 14px;
      font-weight: 300;
      margin-left: 20px;
      margin-right: 20px;
    }
    small {
      display: block;
      margin-left: 40px;
      margin-bottom: 20px;
      font-weight: 300;
      position: relative;
      svg {
        position: absolute;
        width: 14px;
        height: 14px;
        line-height: 20px;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
      }
    }
    input {
      display: none;
    }
  }
  &__link {
    display: block;
    color: #212121;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 5px;
      background-color: #fff;
    }
    &:hover {
      color: var(--green);
      &:after {
        background-color: #8cc34b;
      }
    }
  }
  &__check {
    display: block;
    position: relative;
    padding: 20px;
    padding-left: 60px;
    cursor: pointer;
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    background-color: #f6f7f2;
    &:hover {
      color: var(--green);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      width: 20px;
      height: 20px;
      border: 2px solid #b6b6b6;
      border-radius: 2px;
    }
    span {
      position: relative;
      opacity: 0;
      z-index: 2;
      &:before {
        content: "";
        position: absolute;
        left: -37px;
        top: 15px;
        width: 8px;
        height: 3px;
        background: #fff;
        transform: rotate(50deg);
      }
      &:after {
        content: "";
        position: absolute;
        left: -32px;
        top: 12px;
        width: 10px;
        height: 3px;
        background: #fff;
        transform: rotate(-50deg);
      }
    }
  }
  @media(max-width:939px) {
    &__item {
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 20px;
      }
    }
  }
  @media (max-width:659px) {
    &__item {
      display: block;
      margin: auto;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

input:checked + .courses__check span {
  opacity: 1;
}

input:checked + .courses__check:after {
  background-color: var(--green);
  border: none;
}

input:checked + .courses__check {
  color: var(--green);
}