.slider {
  position: relative;
  width: 620px;
  height: 200px;
  margin: auto;
  &__controls {
    position: absolute;
    width: 50px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    &-btn {
      @mixin inline-block;
      size: 10px;
      @mixin margin 10px;
      background: #000;
      border-radius: 100%;
      border: 2px solid transparent;
      cursor: pointer;
    }
  }
  &__item {
    display: none;
    background: #C0C0C0;
    width: 620px;
    height: 200px;
    padding: 50px;
    text-align: center;
    @for $i from 2 to 3 {
      &:nth-child($i) {
        background: url(../img/sprite/slide-$i.png) no-repeat;
      }
    }
  }
  input {
    display: none;
  }
}

@for $i from 1 to 3 {
  #slider__btn-$i:checked ~.slider__controls .slider__controls-btn:nth-child($i) {
    border-color: #FF0000;
  }
}

@for $i from 1 to 3 {
  #slider__btn-$i:checked ~ .slider__items .slider__item:nth-child($i) {
    display: block;
  }
}