html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  min-height: 100%;
}

main {
  padding-bottom: 82px;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.container {
  @mixin container-fluid;
}