@font-face {
  font-family: 'FiraSans';
  src: url(../fonts/FiraSansLight.woff2) format('woff2'), url(../fonts/FiraSansLight.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'FiraSans';
  src: url(../fonts/FiraSansRegular.woff2) format('woff2'), url(../fonts/FiraSansRegular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'FiraSans';
  src: url(../fonts/FiraSansMedium.woff2) format('woff2'), url(../fonts/FiraSansMedium.woff) format('woff');
  font-weight: 500;
}